{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article>
    <section style="
    background:url({{ section.settings.img | img_url: img_size, crop: 'right' }}) {{ settings.color_secondary }};
    background-size: {{ section.settings.img_size }}%;
    background-blend-mode: color-dodge;
    background-position: {{ section.settings.img_position_y }} {{ section.settings.img_position_x }};
    background-repeat: no-repeat;">

        <div class="container mx-auto">

            <!-- Header -->
            <header class="heading-wrapper pt-10 pb-10 overflow-hidden">

                <!-- Heading -->
                <h1 class="heading {{ section.settings.heading_size }}">
                    {{ page.title }}
                </h1>

            </header>
        </div>
    </section>
    <section class="bg-light">
        <div class="container mx-auto" style="{{ max_width }}">

            <!-- Description -->
            <div class="description rte py-10">
                {{ page.content }}
            </div>

        </div>
        {% if section.settings.has_octo_edge == true %} 
            {% include 'octo-edge' %}
        {% endif %}
    </section>
</article>

{% schema %}
{
    "name": "Page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "960"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Main image"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "img_size",
            "label": "Image Size",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "Image size",
            "default": 50
        },
        {
            "type": "select",
            "id": "img_position_y",
            "label": "Image Position Vertical",
            "default": "top",
            "options": [
                { "value": "top", "label": "Top" },
                { "value": "center", "label": "Center" },
                { "value": "bottom", "label": "Bottom" }
            ]
        },
        {
            "type": "select",
            "id": "img_position_x",
            "label": "Image Position Horizontal",
            "default": "right",
            "options": [
                { "value": "left", "label": "Left" },
                { "value": "center", "label": "Center" },
                { "value": "right", "label": "Right" }
            ]
        },
        {
            "type": "header",
            "content": "Container Settings"
        },
        {
            "type": "checkbox",
            "id": "has_octo_edge",
            "label": "Add Octo Edge",
            "default": true
        },
        {
            "type": "select",
            "id": "edge_position",
            "label": "Edge Position",
            "default": "bottom-left",
            "options": [
                { "value": "bottom-left", "label": "Bottom Left" },
                { "value": "bottom-right", "label": "Bottom Right" }
            ]
        },
        {
            "type": "select",
            "id": "edge_color",
            "label": "Edge Color",
            "default": "000000",
            "options": [
                { "value": "000000", "label": "Black" },
                { "value": "FFFFFF", "label": "White" },
                { "value": "F4F4F4", "label": "Gray"}
            ]
        }
    ]
}
{% endschema %}